# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://saxywdzhyihjkthvjkco.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNheHl3ZHpoeWloamt0aHZqa2NvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ2NDU4OTQsImV4cCI6MjA3MDIyMTg5NH0.B4xVTBk5NGvekCdIrXhhNyOKX34lL3ZNZLms9twhskA

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
GEMINI_API_KEY=AIzaSyCnA8StX1l61plETXpEikpSHepcUNqa8mc
